p {
    font-family:arial;
    font-size:15px;    
}
body{
    font-family:arial;
    background-image: url(backgroundLRG.png);
    background-color: #FF4500;
    background-size: 100%;
    color:#fff;
    text-align:center;
}
h1{
    font-family:arial;
    font-size:40px;
    margin-top: 280px;
}

h2{
    font-family:arial;
    font-size:25px;
    font-weight: bolder;
    color: #79C1FF;
}
.link-item{
    margin-left:10px;
    margin-right:10px;
    display: inline-block;
    color:#9CD1FF;
    text-decoration: underline;
    font-size: 14px;
}
ul {
  list-style-type: none;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  background-color: #333;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px;
  background-color: #dddddd;
}
li a:hover {
  background-color: #111;
}